* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  user-select: none;
}

:root {
  color: $color;
  font-family: $font;
  font-size: $font-size--normal;
  font-style: normal;
  font-weight: 400;
}
