footer {
  color: $color-alt;
  display: flex;
  justify-content: space-between;
  font-size: $font-size--small;
}

h1 {
  display: flex;
  font: inherit;
}

a {
  padding: 1rem;
  color: inherit;
  text-decoration: none;
}
